/* estilos/estilos.css */

:root {
  --primary-color: #1d3557;
  --secondary-color: #b6d6eb;
  --third-color: #6698b9;
  --accent-color: #e63946;
  --background-color: #eff1f4;
  --text-color: #1d1d1d;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.home-container {
  min-height: 100vh;
}

.trayectoria-container {
  min-height: 100vh;
}
